<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue-clipboards@1.2.4/dist/vue-clipboards.min.js"></script>
  <title>ShortURL</title>
</head>

<body class="bg-dark overflow-auto">
  <div class="container-fluid"> 
    <div class="row">


      <div class="col-lg-12"> 
        <div class="text-center">
          <h1>ShortURL</h1>
        </div>
      </div>

      <div class="col-xs-2 col-md-2 col-lg-3"> </div>
      <div class="bg-secondary col-xs-8 col-md-8 col-lg-6 rounded mb-3 py-3">
        <p class="text-center"><em>Вставьте ссылку ниже</em></p>


        <!-- send data -->
        <div class="input-group rounded px-3" id="tag_input">
          <input class="shadow-none form-control border border-dark" v-model:value="value_name" type="text" placeholder="example.com">
          <div class="input-group-prepend">
            <input class="shadow-none btn btn-dark rounded-right" v-on:click="sending_and_fetching_data();input_clear()" type="button" value="сократить">
          </div>
        </div>

        <!-- get data -->
        <div class="rounded  p-3" id="show_link">
          <p class="bg-dark rounded text-white" align="center">{{ message }}</p>
        </div>

      </div>
      <div class="col-xs-2 col-md-2 col-lg-3"> </div>

      <div class="col-xs-2 col-md-2 col-lg-3"> </div>
      <div class="rounded col-xs-8 col-md-8 col-lg-6 bg-secondary"> 
        <p class="text-white m-3 p-3 text-center"><em>  ShortURL - это бесплатный инструмент для сокращения URL-адреса или ссылки.
        Используйте наш URL Shortener для создания сокращенной ссылки, чтобы ее можно было легко запомнить </em></p>
      </div>
      <div class="col-xs-2 col-md-2 col-lg-3 "> </div>

      <div class="col-lg-12 bg-dark fixed-bottom border-top border-success border-top-3 d-flex w-100 flex-row flex-wrap justify-content-center">
        <a href="#" role="button" class="shadow-none rounded-0 bg-dark px-2 btn text-center text-white">General</a>
        <a href="#" role="button" class="shadow-none Rounded-0 bg-dark px-2 btn text-center text-white">Support</a>
        <a href="#" role="button" class="shadow-none Rounded-0 bg-dark px-2 btn text-center text-white">Contacts</a>
        <a href="#" role="button" class="shadow-none Rounded-0 bg-dark px-2 btn text-center text-white">Help</a>
      </div>

    </div>
  </div>

  <script>
    var app_getting_link = new Vue({
      el: '#show_link',
      data: {
        message: ''
      }
    });

    // отправляет, получает и очищает данные с формы ввода
    var app_sending_link = new Vue({
      el: '#tag_input',

      data: {
        value_name: ''
      },

      methods: {
        input_clear: () => {
          app_sending_link.value_name = '';
        }, 

        sending_and_fetching_data: async () => {
          sending_data = { 'url': app_sending_link.value_name };

          if (sending_data.url.length < 3) {
            alert("Размер ссылки слишком мал: " + sending_data.url.length);

          } else if (sending_data.url.length > 255) {
            alert("Размер ссылки слишком велик: " + sending_data.url.length);

          } else {
            let response = await fetch('http://localhost:8080/save', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json;charset=utf-8'
              },
              body: JSON.stringify(sending_data)

            }).then(response => response.json());

            let text = await response; 
            app_getting_link.message = text.url;

          }
        }
      }
    });


    /*
    async function func() {
      data = { 'url': document.querySelectorAll('input')[0].value };
      if (data.url.length < 3) {
        alert("Размер ссылки слишком мал: " + data.url.length);
      } else if (data.url.length > 255) {
        alert("Размер ссылки слишком велик: " + data.url.length);
      } else {
        let response = await fetch('http://localhost:8080/save', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify(data)
        }).then( response => response.json() );

        let text = await response; 
        app.message = text.url;

      }
    }     
    */
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
